.details-section {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-secondary1);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-label {
    font-weight: 500;
    color: var(--color-text1);
    margin-right: 2rem;
}

.details-value {
    color: var(--color-text3)
}

.details-badge {
    background: var(--color-secondary3);
    color: var(--color-text1);
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    font-size: 0.8rem;
}



.details-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row-reverse;
    margin: .5rem;
}

.details-tag {
    background: var(--color-secondary2);
    color: var(--color-text2);
    padding: 0.3rem 0.7rem;
    border-radius: 999px;
    font-size: 0.8rem;
    transition: .2s;
}

.details-tag:hover{
    background: var(--color-secondary3);
    color: var(--color-text3);
    padding: 0.3rem 0.7rem;
    border-radius: 999px;
    font-size: 0.8rem;
    cursor: pointer;
    transform: translateY(-1px);
}