<div class="registration-container">
    <div class="accountControlls">
        <form class="forms-form" [formGroup]="registerForm" (ngSubmit)="register()">

            <h1 class="forms-title">Create Your Account</h1>

            <p class="sign-in">
                Already have an account?
                <a routerLink="/login">Sign In</a>
            </p>

            <div class="separator"></div>

            <h3 class="forms-label">Display Name</h3>
            <input class="forms-input" type="text" formControlName="displayName" />
            @if (registerForm.get('displayName')?.touched && registerForm.get('displayName')?.invalid) {
            <small class="forms-error">Display name is required</small>
            }

            <h3 class="forms-label">Email</h3>
            <input class="forms-input" type="email" formControlName="email" />
            @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
            <small class="forms-error">Valid email required</small>
            }

            <h3 class="forms-label">Username</h3>
            <input class="forms-input" type="text" formControlName="username" />
            @if (registerForm.get('username')?.touched && registerForm.get('username')?.invalid) {
            <small class="forms-error">Username is required</small>
            }

            <h3 class="forms-label">Password</h3>
            <input class="forms-input" type="password" formControlName="password" />
            @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
            <small class="forms-error">Password is required</small>
            }

            <h3 class="forms-label">Confirm Password</h3>
            <input class="forms-input" type="password" formControlName="confirmPassword" />
            @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched) {
            <small class="forms-error">Passwords do not match</small>
            }

            <ul class="forms-error-list">

                @for (message of errorMessages(); track message) {
                <li class="message forms-error">{{message}}</li>
                }
            </ul>

            <button class="forms-button" type="submit" [disabled]="isCreating">
                {{ isCreating ? 'Creating Account...' : 'Create Account' }}
            </button>

        </form>
    </div>
    <div class="content">
        <h1 class="content-title">Track everything you want to watch, play, and read</h1>
        <p class="content-subtitle">Backlog Manager is your personal backlog manager for movies, games, and books-making
            it easier to
            decide what to experience next</p>

        <ul class="feature-list">
            <li class="feature-list-item">Keep all your media in one place</li>
            <li class="feature-list-item">Track what you've finished and what's next</li>
            <li class="feature-list-item">Rate and organize your favorites</li>
        </ul>
    </div>
</div>