<nav class="nav">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="" [routerLinkActiveOptions]="{ exact: true }">
      MediaBacklog
    </a>
  </div>

  <div class="navButtons">


    <div class="navButton searchBar">
      <input>
      <span class="material-symbols-outlined">search</span>
    </div>

    <button routerLink="/home" class="navButton squareButton">
      <span class="material-symbols-outlined">home</span>
    </button>

    <button routerLink="/media/create" class="navButton textButton">
      <span class="material-symbols-outlined">add</span>New
    </button>

    <button routerLink="/media/create" class="navButton squareButton">
      <span class="material-symbols-outlined">query_stats</span>
    </button>

    <button (click)="profileButton()"  class="navButton squareButton profileButton">
      <span class="material-symbols-outlined">person</span>
    </button>

    
    <div [hidden]="!profileMenuVisable"  class="profileMenu">
      <button (click)="closeProfile()">x</button>
      <app-profile-menu></app-profile-menu>
    </div>
    


  </div>
</nav>