<nav class="nav">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="" [routerLinkActiveOptions]="{ exact: true }">
      MediaBacklog
    </a>
  </div>


  <div class="navButtons">

    @if(authService.isLoggedInSignal()) {

    <div class="searchBar">
      <input #searchInput placeholder="search" (keydown.enter)="search(searchInput.value)">
      <span class="navButton squareButton material-symbols-outlined" (click)="search(searchInput.value)">search</span>
    </div>

    <button routerLink="/search" class="reactive-search navButton squareButton" >
      <span class="material-symbols-outlined">Search</span>
    </button>

    <button routerLink="/home" (click)="closeProfile()" class="navButton squareButton">
      <span class="material-symbols-outlined">home</span>
    </button>

    <button routerLink="/media/create" class="navButton textButton">
      <span class="material-symbols-outlined">add</span>New
    </button>

    <button routerLink="/analytics" class="navButton squareButton">
      <span class="material-symbols-outlined">query_stats</span>
    </button>


    <div class="profileWrapper">

      <button (click)="profileButton()" class="navButton profileButton">
        <span class="material-symbols-outlined">person</span>
      </button>


      <app-profile-menu (closeMenu)="closeProfile()" class="profileMenu"
        [hidden]="!profileMenuVisable"></app-profile-menu>

    </div>
    }
    @else {
    <button routerLink="/login" class="navButton squareButton">
      <span class="material-symbols-outlined">
        login
      </span>
    </button>
    }

  </div>
</nav>