<div class="loginContainer">
    <div class="content">
        <h1 class="content-title">Track everything you want to watch, play, and read</h1>
        <p class="content-subtitle">Backlog Manager is your personal backlog manager for movies, games, and books-making
            it easier to
            decide what to experience next</p>

        <ul class="feature-list">
            <li class="feature-list-item">Keep all your media in one place</li>
            <li class="feature-list-item">Track what you've finished and what's next</li>
            <li class="feature-list-item">Rate and organize your favorites</li>
        </ul>

        <div class="content-cta">
            <p class="cta-text">New here?</p>
            <p class="cta-button"><a routerLink="/register">Create an account</a> to get started</p>
        </div>
    </div>
    <div class="accountControlls">
        <form class="forms-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <h1 class="forms-title">Sign Into Your Backlog</h1>
            <h3 class="forms-label">Username</h3>
            <input class="forms-input" type="text" name="username" autocomplete="username" required
                formControlName="username" />
            @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
            <small class="forms-error">Username is required</small>
            }
            <h3 class="forms-label">Password</h3>
            <input class="forms-input" type="password" autocomplete="current-password" formControlName="password" />
            <small class="password-reset"><a routerLink="/reset-password">Reset Password</a></small>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <small class="forms-error">Password is required</small>}
            <p class="message forms-error">{{message()}}</p>
            <button class="forms-button" type="submit" [disabled]="isLoggingIn">
                {{ isLoggingIn ? 'Logging in...' : 'Log In' }}
            </button>
        </form>
        <div class="separator">OR</div>
        <button class="forms-button" routerLink="/register">Create Account</button>
    </div>
</div>