@if (show;) {

<div class="details-section">
    <div class="details-row">
    </div>

    <div class="details-row">
        <span class="details-label">Seasons</span>
        <span class="details-value">
            {{ show.seasonCount > 1 ? show.seasonCount+ " Seasons" :show.seasonCount + " Season"}} 
        </span>
    </div>
    
    <div class="details-row">
        <span class="details-label">Episodes</span>
        <span class="details-value">
            {{ show.episodeCount > 1 ? show.episodeCount+ " Episodes" :show.episodeCount + " Episode"}} 
        </span>
    </div>

    <div class="details-row">
        <span class="details-label">Rating</span>
        <span class="details-badge">{{ show.contentRating }}</span>
    </div>

</div>
}