<div class="separator">Song Specific Detials</div>

<form class="forms-subform" [formGroup]="songForm">



        <!-- Artist -->
        <div class="forms-field">
            <label class="forms-label">Artist</label>
            <input class="forms-input" type="text" formControlName="artist" />
        </div>


        <!-- Runtime -->
        <div class="forms-field">
            <label class="forms-label">Runtime (minutes)</label>
            <input class="forms-input" type="number" formControlName="runTime" />
        </div>



</form>