<footer class="footer">
  <div class="footer-container">

    <div class="footer-top">

      <div class="footer-section">
        <h3>Navigation</h3>
        <a routerLink="/">Home</a>
        <a routerLink="/library">Library</a>
        <a routerLink="/discover">Discover</a>
      </div>

      <div class="footer-section">
        <h3>Social Media</h3>
          <a routerLink="/login">Youtube</a>
          <a routerLink="/register">X</a>
          <a routerLink="/profile">Instagram</a>
      </div>

      <div class="footer-section">
        <h3>Resources</h3>
        <a routerLink="/help">Help Center</a>
        <a routerLink="/api">API</a>
        <a routerLink="/status">Status</a>
        <a routerLink="/docs">Documentation</a>
      </div>



    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
      <p>&copy; 2026 Media Backlog Manager</p>

      <div class="footer-bottom-links">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/terms">Terms</a>
        <a routerLink="/cookies">Cookies</a>
      </div>
    </div>

  </div>
</footer>