<footer class="footer">
  <div class="footer-container">

    <div class="footer-top">

      <div class="footer-section">
        <h3>Navigation</h3>
        <a routerLink="/home">Home</a>
        <a routerLink="/media/create">Add Media</a>
        <a routerLink="/analytics">Analytics</a>
      </div>

      <div class="footer-section">
        <h3>Social Media</h3>
          <a href="https://youtube.com">Youtube</a>
          <a href="https://Facebook.com">Facebook</a>
          <a href="https://instagram.com">Instagram</a>
          <a href="https://github.com">GitHub</a>
      </div>

      <div class="footer-section">
        <h3>Resources</h3>
        <a routerLink="/help">Help Center</a>
        <a routerLink="/api">API</a>
        <a routerLink="/status">Status</a>
        <a routerLink="/docs">Documentation</a>
      </div>



    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
      <p>&copy; 2026 Media Backlog Manager</p>

      <div class="footer-bottom-links">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/terms">Terms</a>
        <a routerLink="/cookies">Cookies</a>
      </div>
    </div>

  </div>
</footer>