

<div class="profileMenu">

  <div class="profileHeader">
    <h3 class="username">{{ userService.user()?.username }}</h3>
  </div>

  <div class="profileButtons">

    <a class="profileButton" routerLink="/home" (click)="onNavigate()">
      Profile
    </a>

    <a class="profileButton" routerLink="/home" (click)="onNavigate()">
      Preferences
    </a>

    <a class="profileButton" routerLink="/home" (click)="onNavigate()">
      Export / Import Data
    </a>

    <div class="divider"></div>

    <a class="profileButton logout" (click)="logout()">
      Logout
    </a>

  </div>
</div>