.MediaCarousel {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding: 1rem;

    scroll-snap-type: x mandatory;
    scrollbar-width: thin;

}

.MediaCard {
    flex: 0 0 auto;
    width: 200px;
    padding: 1rem;
    border-radius: 12px;
    background: #222;
    color: white;
    scroll-snap-align: start;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.MediaCard:hover {
    transform: translateY(-2px);
}

.MediaCard:active {
    transform: translateY(2px);
    scale: .99;
    background-color: #111;

}